<!-- 오류모달창 정보입력오류있을시-->
<div class="noneinfo_bg">
    <div class="noneinfo_alert">
        <div class="backimg">
            <img src="{% static 'image/logo.svg' %}" alt="">
        </div>
        <div class="noneinfo_textin">
            <div class="noneinfo_text">
                <h4 class="noneinfo_alert-tit">
                    결제오류
                </h4>
                <span class="noneinfo_alert-sub">
                    입력하지 않은 정보가 있습니다!
                </span>
                <div class="readfin_wrap">
                    <button class="readfin_btn medium_btn">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>