<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <script src = "{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src = "{% static 'js/common.js' %}"></script>
        <script src = "{% static 'js/kakao.min.js' %}"></script>
        <script src = "https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
        <script>
            $.ajax({
                type : 'POST',
                url : 'getCertificate',
                data : {},
                dataType : 'json',
                success:function(res){
                    IMP.init(res.key)
                }
            })
        </script>
        <meta charset="utf-8">
        <title>shoepro</title>
    </head>
    <body>
        {% block contents %}
        {% endblock %}
    </body>
</html>