{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="title_cont">
    <h2>how to</h2>
    <hr class="underline">
</div>
<div class="content">

    <div class="howto_wrap">
        <div class="video_area">
            <div class="howto_video">
                <a class="h_area" href="#none">
                    <iframe width="300" height="214" src="https://www.youtube.com/embed/m8-9FhojQ7A"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="howto_desc">
                        <p>가죽세척법</p>
                        <img class="vpfind" src="{% static 'image/angle-d.svg' %}" alt="more">
                    </div>
                </a>
            </div>
            <div class="video_product">
                <ul class="vp_list">
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="video_area">
            <div class="howto_video">
                <a class="h_area" href="#none">
                    <iframe width="300" height="214" src="https://www.youtube.com/embed/duO8my2TZu8"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="howto_desc">
                        <p>스웨이드세척법</p>
                        <img class="vpfind" src="{% static 'image/angle-d.svg' %}"  alt="more">
                    </div>
                </a>
            </div>
            <div class="video_product">
                <ul class="vp_list">
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="video_area">
            <div class="howto_video">
                <a class="h_area" href="#none">
                    <iframe width="300" height="214" src="https://www.youtube.com/embed/C8PX1JpHIlw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="howto_desc">
                        <p>누벅세척법</p>
                        <img class="vpfind" src="{% static 'image/angle-d.svg' %}"  alt="more">
                    </div>
                </a>
            </div>
            <div class="video_product">
                <ul class="vp_list">
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="video_area">
            <div class="howto_video">
                <a class="h_area" href="#none">
                    <iframe width="300" height="214" src="https://www.youtube.com/embed/P1_U8zHg0V4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="howto_desc">
                        <p>캔버스세척법</p>
                        <img class="vpfind" src="{% static 'image/angle-d.svg' %}"  alt="more">
                    </div>
                </a>
            </div>
            <div class="video_product">
                <ul class="vp_list">
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                    <li class="vp">
                        <a href="#none">
                            <img src="http://placehold.it/500x500" alt="product">
                            <div class="vp_tit">lorem</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}