{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="title_cont">
    <h2>how to</h2>
    <hr class="underline">
</div>
<div class="content">      
    <div class="howto_slide">
        <div class="howto_slidewrap-for">
            <div class="slidewrap-for">
                <img src="image/slidesamle/slidesample1.png" alt=" sample">
                <div class="img_dark"></div>
                <p >kint</p>
            </div>
            <div class="slidewrap-for">
                <img src="image/slidesamle/slidesample2.png" alt="sample">
                <div class="img_dark"></div>
                <p>canvas</p>
            </div>
            <div class="slidewrap-for">
                <img src="image/slidesamle/slidesample3.png" alt="sample">
                <div class="img_dark"></div>
                <p>nubuck<br>suede</p>
            </div>
            <div class="slidewrap-for">
                <img src="image/slidesamle/slidesample4.png" alt="sample">
                <div class="img_dark"></div>
                <p>leather</p>
            </div>
        </div>
        <div class="howto_slidewrap">
            <div class="howto_imgwrap">
                <div class="howto_intro">
                    <img src="image/slidesamle/slidesample5.png" alt="item">
                    <p class="howto_text">kint</p>
                </div>
                <div class="slide_article">
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                </div>
                <div class="howto_protitwrap">
                    <p>사용한 제품</p>
                </div>
                <div class="howto_product">
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="howto_imgwrap">
                <div class="howto_intro">
                    <img src="image/slidesamle/slidesample6.png" alt="item">
                    <p class="howto_text">canvas</p>
                </div>
                <div class="slide_article">
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                </div>
                <div class="howto_protitwrap">
                    <p>사용한 제품</p>
                </div>
                <div class="howto_product">
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="howto_imgwrap">
                <div class="howto_intro">
                    <img src="image/slidesamle/slidesample7.png" alt="item">
                    <p class="howto_text">nubuck/suede</p>
                </div>
                <div class="slide_article">
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                </div>
                <div class="howto_protitwrap">
                    <p>사용한 제품</p>
                </div>
                <div class="howto_product">
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="howto_imgwrap">
                <div class="howto_intro">
                    <img src="image/slidesamle/slidesample8.png" alt="item">
                    <p class="howto_text">leather</p>
                </div>
                <div class="slide_article">
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                    <div class="slide_artiwrap">
                        <div class="howto_set">
                            <img src="http://placehold.it/50x50" alt="item">
                        </div>
                        <div class="howto_arti">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio ipsa quibusdam molestiae ratione, ut vero debitis eveniet. Similique laborum, hic at sit rerum dicta deleniti, placeat dolor, asperiores neque eaque!</span>
                        </div>
                    </div>
                </div>
                <div class="howto_protitwrap">
                    <p>사용한 제품</p>
                </div>
                <div class="howto_product">
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                    <div class="howto_productwrap">
                        <a href="#none" class="ht_proimgwrap">
                            <img src="http://placehold.it/50x50" alt="item">
                        </a>
                        <div class="ht_gotocart">
                            <p class="ht_proname">
                                lorem
                            </p>
                            <button class="gotocart">장바구니담기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text_gotocart">
    <span class="txt_goto">
        장바구니에추가되었습니다
    </span>
</div>
    {% endblock %}