{% extends 'base.html' %}
{% block contents %}

<!-- 메인섹션 -->
<section class="main">
    <div class="img_wrap">
        <img src="http://placehold.it/768x500">
    </div>
    <div class="copy_wrap">
        <div class="desc_wrap">
            <h2>
                Lorem ipsum
            </h2>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptas dolorum! Alias, mollitia!
            </p>
        </div>
        <div class="btn">
            <a href="#none">
                <button>view more</button>
            </a>
        </div>
    </div>
</section>
<!-- e-메인섹션 -->

<!-- 클린서비스섹션 -->
<section class="sec_serv">
    <div class="img_wrap">
        <img src="http://placehold.it/768x500">
    </div>
    <div class="copy_wrap">
        <div class="desc_wrap">
            <h2>
                Lorem ipsum
            </h2>
            <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptas dolorum! Alias, mollitia!
            </p>
        </div>
        <div class="bztn">
            <a href="http://127.0.0.1:8000/clean/" >
                <button>clean</button>
            </a>
            <a href="http://127.0.0.1:8000/wrap/">
                <button>wrap</button>
            </a>
        </div>
    </div>
</section>
<!-- e-클린서비스섹션 -->

<!-- 프로덕트섹션 -->
<section class="sec_pro">
    <div class="copy_wrap">
        <div class="tit">
            <h2 class="title_head">product</h2>
            <hr class="underline">
        </div>
    </div>
    <div class="pro_wrap conmargin">
        <div class="spray">
            <a href="#none">
                <img src="http://placehold.it/384x500">
            </a>
        </div>
        <div class="kit_etc">
            <div class="kit">
                <a href="#none">
                    <img src="http://placehold.it/384x245">
                </a>
            </div>
            <div class="etc">
                <a href="#none">
                    <img src="http://placehold.it/384x245">
                </a>
            </div>
        </div>
    </div>
    <div class="copy_wrap">
        <div class="btn">
            <a href="#none">
                <button>go to shop</button>
            </a>
        </div>
    </div>
</section>
<!-- e-프로덕트섹션 -->

<!-- 스토어섹션 -->
<section class="sec_offls">
    <div class="copy_wrap">
        <div class="tit">
            <h2 class="title_head">offline store</h2>
            <hr class="underline">
        </div>
    </div>
    <div class="img_wrap conmargin">
        <img src="http://placehold.it/768x500">
        <a href="#none"><button>view more</button></a>
    </div>
</section>
<!-- e-스토어섹션 -->


{% endblock %}