{% extends 'base.html' %}
{% block contents %}

<script src = "https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<div>
    <input type = 'text' id = 'id' placeholder="id">
    <input type = 'password' id = 'pw' placeholder="pw">
    <input type = 'password' id = 'pwconfirm' placeholder="pwconfirm">
    <input type = 'name' id = 'name' placeholder = 'name'>
    <button id = 'join'>join</button>
</div>
<div>
    <button id='kakao'>kakao</button>
</div>
<button id='cert'>certification</button>
<script>
var JOIN_FUNC = {};
(function(join_func){
    var props = {
        key : '',
    };

    $.extend(props, {
        event : function(){
            //회원가입 버튼 클릭
            $('#join').click(function(){
                var id = $('#id').val()
                var pw = $('#pw').val()
                var pwconfirm = $('#pwconfirm').val()
                var name = $('#name').val()

                if(COMMON.isEmpty(id)){
                    alert('아이디를 입력해주세요')
                    return
                }
                if(COMMON.isEmpty(pw)){
                    alert('비밀번호를 입력해주세요')
                    return
                }
                if(COMMON.isEmpty(pwconfirm)){
                    alert('비밀번호 확인을 입력해주세요')
                    return
                }
                if(COMMON.isEmpty(name)){
                    alert('이름을 입력해 주세요')
                    return
                }

                if(!COMMON.isSame(pw,pwconfirm)){
                    alert('비밀번호가 일치하지 않습니다.')
                    return
                }

                $.ajax({
                    type : 'POST',
                    url : 'getJoin',
                    data : {'id' : id, 'pw' : pw,'name':name, 'type':'normal'},
                    dataType : 'json',
                    success : function(res){
                        if(res.code == 1){
                            alert(res.msg);
                        }else{
                            alert(res.msg)
                        }
                    }
                })
            });
            $('#kakao').click(function(){
                
            })
            $('#cert').click(function(){
                console.log(props.key)
                IMP.certification({
                    merchant_uid : props.key
                }),
                function(rsp){
                    console.log(rsp)
                    if(rsp.success){
                        jQuery.ajax({
                            url: "https://www.myservice.com/certifications", // 서비스 웹서버
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            data: { imp_uid: rsp.imp_uid }
                        });
                    }else{
                        
                    }
                }
            })
        }
    });

    $.extend(join_func,{
        init : function(){
            props.event()
            $.ajax({
                type : 'POST',
                url : 'getCertificate',
                dataType : 'json',
                success : function(res){
                    props.key = res.key
                    console.log(props)
                }
            })
        }
    });

    return join_func
}(JOIN_FUNC))

$(document).ready(function(){
    JOIN_FUNC.init()
})
</script>
{% endblock %}