{% extends 'base.html' %}
{% load static %}
{% block contents %}
<script src = "https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<div class="wrapper">
    <div class="join_title">
        <div class="join_logo">
            <img src="{% static 'image/logo.svg' %}" alt="logo">
        </div>
        <h2>슈프로 회원가입</h2>
     </div>
    <div class="join_content">
        <div class="join click_e">
            <h3>
                <label for="id" >아이디</label>
                
            </h3>
            <div class="box">
                <input class="join_input" type="text" maxlength="20" tabindex="1" id = 'userid'>
                <button id="overlap">중복확인</button>
            </div>
        </div>
        <div class="join click_e">
            <h3>
                <label for="password" >비밀번호</label>
            </h3>
            <div class="box">
                <input class="join_input" type="password" tabindex="2" id = 'pw'>
            </div>
        </div>
        <div class="join click_e">
            <h3>
                <label for="password" >비밀번호 확인</label>
            </h3>
            <div class="box click_e">
                <input class="join_input" type="password" tabindex="3" id = 'pwconfirm'>
            </div>
        </div>
        <div class="join click_e">
            <h3>
                <label for="name" >이름</label>
            </h3>
            <div class="box">
                <input class="join_input" type="text" maxlength="20" tabindex="4" id = 'name'>
            </div>
        </div>

        <!-- birth -->
        <div class="birth">
            <h3>
                <label for="yy">생년월일</label>
            </h3>
            <div class="birth_wrap">
                <div class="bir_yy click_e">
                    <div class="box">
                        <input class="join_input" type="text" maxlength="4" tabindex="5" id = 'year'>
                    </div>
                </div>
                <div class="bir_mm join">
                    <div class="box">
                        <select id="mm" name="month">
                            <option>월</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                </div>
                <div class="bir_dd click_e">
                    <div class="box">
                        <input class="join_input" type="text" maxlength="2" tabindex="6" id = 'day'>
                    </div>
                </div>
            </div>
        </div>
        <!-- e-birth -->

            
        <div class="join click_e">
            <h3>
                <label for="name" >휴대전화</label>
            </h3>
            <div class="box">
                <input class="join_input" type="text" placeholder="-없이 전화번호입력" maxlength="11" tabindex="7" id='phone'>
                <button id="phone_btn">인증번호받기</button>
            </div>
        </div>
            <div class="join click_e">
                <div class="box">
                    <input class="join_input" type="text" placeholder="인증번호를 입력하세요" tabindex="8">
                </div>
            </div>

        <div class="join_btn">
            <button id="join_us">가입하기</button>
        </div>
    </div>
</div>
<script>
var JOIN_FUNC = {};
(function(join_func){
    var props = {
        key : '',
        isId : '',
    };  

    $.extend(props, {
        event : function(){
            //회원가입 버튼 클릭
            $('#join_us').click(function(){
                var id = $('#userid').val()
                var pw = $('#pw').val()
                var pwconfirm = $('#pwconfirm').val()
                var name = $('#name').val()
                var phone = $('#phone').val()
                var birthday = ''
                console.log(id)
                if($('#year').val() != '' && $('select[name=month]').val() && $('#day').val() != ''){
                    birthday = $('#year').val() + '-'+$('select[name=month]').val() + '-'+$('#day').val()
                }else{
                    alert('생년월일을 확인해 주세요');
                    return
                }

                if(COMMON.isEmpty(id)){
                    alert('아이디를 입력해주세요')
                    return
                }
                if(COMMON.isEmpty(pw)){
                    alert('비밀번호를 입력해주세요')
                    return
                }
                if(COMMON.isEmpty(pwconfirm)){
                    alert('비밀번호 확인을 입력해주세요')
                    return
                }
                if(COMMON.isEmpty(name)){
                    alert('이름을 입력해 주세요')
                    return
                }

                if(!COMMON.isSame(pw,pwconfirm)){
                    alert('비밀번호가 일치하지 않습니다.')
                    return
                }

                // COMMON.checkPw(pw);

                $.ajax({
                    type : 'POST',
                    url : 'getJoin',
                    data : {'id' : id, 'pw' : pw,'name':name, 'type':'normal', phone : phone, birthday : birthday},
                    dataType : 'json',
                    success : function(res){
                        if(res.code == 1){
                            alert(res.msg);
                            location.href = 'http://127.0.0.1:8000/main/'
                        }else{
                            alert(res.msg)
                        }
                    }
                })
            });
            $('#kakao').click(function(){
                
            })
            $('#cert').click(function(){
                console.log(props.key)
                IMP.certification({
                    merchant_uid : props.key
                }),
                function(rsp){
                    console.log(rsp)
                    if(rsp.success){
                        jQuery.ajax({
                            url: "https://www.myservice.com/certifications", // 서비스 웹서버
                            method: "POST",
                            headers: { "Content-Type": "application/json" },
                            data: { imp_uid: rsp.imp_uid }
                        });
                    }else{

                    }
                }
            })
            $('#overlap').click(function(){
                var user = $('#userid').val()

                $.ajax({
                    type : 'POST',
                    url : 'checkID',
                    dataType:'json',
                    data : {id : user},
                    success : function(res){
                        if(res.code == true){
                            alert('사용 가능한 아이디입니다.');
                            props.isId = true
                        }else{
                            alert('이미 존재하는 아이디입니다.');
                            props.isId = false
                        }
                    }
                })
            })
        }
    });
    
    $.extend(join_func,{
        init : function(){
            props.event()
            // $.ajax({
            //     type : 'POST',
            //     url : 'getCertificate',
            //     dataType : 'json',
            //     success : function(res){
            //         props.key = res.key
            //         console.log(props)
            //     }
            // })
        }
    });

    return join_func
}(JOIN_FUNC))

$(document).ready(function(){
    JOIN_FUNC.init()
})
</script>
{% endblock %}