<!-- {% extends 'base.html' %}
{% load static %}
{% block contents %} -->
<section class="log_sec">
    <form>
        <div class="login_box">
            <div class="topcopy">
                <div class="login_logo">
                    <img src="{% static 'image/logo.svg' %}" alt="logo">
                </div>
            </div>
            <div class="login_main">
                <div class="sign click_e">
                    <div class="box">
                        <input type="text" placeholder="아이디" class="id_put" tabindex="1" id='id'>
                    </div>
                </div>
                <div class="pass click_e">
                    <div class="box">
                        <input type="password" placeholder="비밀번호" class="pass_put" tabindex="2" id='pw'>
                    </div>
                </div>
                <ul class="find_tab">
                    <li class="maintain">
                        <label class="log_tain">
                            <input type="checkbox" class="checkbox">
                            <div class="check_tit">로그인 유지하기</div>
                        </label>
                    </li>
                    <li class="findbar">
                        <a href="#none">아이디 찾기</a>
                        <a href="#none">비밀번호찾기</a>
                    </li>
                </ul>
                <a id ='login'>
                    <button class="log_btn" >login</button>
                </a>

                <div class="user_new">
                    <ul class="user_joinus">
                        <li class="newroad">
                            <span>
                                회원이 아니신가요?
                            </span>
                        </li>
                        <li class="new_join">
                            <a class="goto_page" id='goJoin'>회원가입</a>
                        </li>
                    </ul>
                </div>
                <div class="orline">
                    <span class="middleline"></span>
                    <span class="middletext">or</span>
                    <span class="middleline"></span>
                </div>
                <div class="another_log">
                    <div class="kakao_box">
                        카카오톡로그인 배너자리
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>

<script>
    var LOGIN_FUNC = {};
    (function (login_func) {
        var props = {

        };

        $.extend(props, {
            event: function () {
                $('#login').click(function () {
                    var id = $('#id').val()
                    var pw = $('#pw').val()
                    if (COMMON.isEmpty(id)) {
                        alert('아이디를 입력해주세요')
                        return
                    }

                    if (COMMON.isEmpty(pw)) {
                        alert('비밀번호를 입력해주세요')
                        return
                    }

                    $.ajax({
                        type: 'POST',
                        url: 'getLogin',
                        data: { 'id': id, 'pw': pw, 'type': 'normal',csrfmiddlewaretoken: "{{ csrf_token }}"},
                        dataType: 'json',
                        success: function (res) {
                            console.log(res)
                        },
                        error : function(res){
                            console.log(res)
                        }
                    })
                });

                $('#goJoin').click(function () {
                    location.href = 'http://127.0.0.1:8000/join/'
                });
            },
        });

        $.extend(login_func, {
            init: function () {
                props.event()
            }
        });


        return login_func;
    }(LOGIN_FUNC));

    $(document).ready(function () {
        LOGIN_FUNC.init()
    })
</script>
<!-- {% endblock %} -->