{% extends 'base.html' %}
{% block contents %}
<div>
    <button id = 'goLogin'>로그인</button>
</div>
<script>
    var MAIN_FUNC = {};
    (function(main_func){
        var props = {

        };

        $.extend(props, {
            event : function(){
                $('#goLogin').click(function(){
                    location.href = 'http://127.0.0.1:8000/login/'
                })
            },
        });

        $.extend(main_func,{
            init : function(){
                props.event()
            }
        });

        return main_func;
    }(MAIN_FUNC))

    $(document).ready(function(){
        MAIN_FUNC.init()
    })
</script>
{% endblock %}