{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="payge_title">
    <div class="page_back">
        <a href="#none">
            <img src="{% static 'image/agl.svg' %}" alt="back">
        </a>
    </div>
    <h2 class="payge_tit">주문하기</h2>
</div>
<div class="content">
    <div class="item_info">
        <h3 class="info_tit">주문상품 정보</h3>
        <div class="pickitem_wrap">
            <div class="pickitem_img">
                <img src="http://placehold.it/500x500" alt="item">
            </div>
            <div class="pickitem_desc">
                <span class="pickitem_tit">
                    lorem ipsum
                </span>
                <span class="quantity">
                    수량: 1개
                </span>
                <span class="price">
                    10,000원
                </span>
            </div>
            <div class="remove_selitem">
                <img src="{% static 'image/del.svg' %}" alt="remove">
            </div>
        </div>
        <div class="pickitem_wrap">
            <div class="pickitem_img">
                <img src="http://placehold.it/500x500" alt="item">
            </div>
            <div class="pickitem_desc">
                <span class="pickitem_tit">
                    lorem ipsum
                </span>
                <span class="quantity">
                    수량: 1개
                </span>
                <span class="price">
                    10,000원
                </span>
            </div>
            <div class="remove_selitem">
                <img src="{% static 'image/del.svg' %}" alt="remove">
            </div>
        </div>
        <div class="total">
            <p>총 결제 금액</p>
            <p>
                <span class="total_price">20,000</span>원
            </p>
        </div>
    </div>
</div>
<div class="delivery">
    <h3 class="deli_info">배송지 정보</h3>
    <div class="payge_wrapper click_e">
        <p>받으시는 분</p>
        <div class="box">
            <input type="text" maxlength="20" placeholder="이름" id = 'buyerName'>
        </div>
    </div>
    <div class="payge_wrapper click_e">
        <p>연락처</p>
        <div class="box">
            <input type="tel" maxlength="20" placeholder="-없이 번호입력" id = 'telNumber'>
        </div>
    </div>
    <div class="payge_wrapper click_e">
        <p>배송지 주소</p>
        <div class="address1">
            <div class="box">
                <input type="text" id = 'mainAddr'>
                <button class="address_btn" id='searchAdd'>검색</button>
            </div>
        </div>
    </div>
    <div class="payment_wrapper click_e">
        <div class="address2">
            <div class="box">
                <input type="text" placeholder="나머지 주소 입력" id ='subAddr'>
            </div>
        </div>
    </div>
</div>
<div class="payge_tab">
    <h3 class="payge_info">결제 정보</h3>
    <div class="pay">
        <div class="card">
            <a href="#none">
                <img src="{% static 'image/card.svg' %}" alt="card">
                <span>신용카드</span>
            </a>
        </div>
        <div class="phone">
            <a href="#none">
                <img src="{% static 'image/phone.svg' %}" alt="phone">
                <span>휴대전화</span>
            </a>
        </div>
    </div>
</div>
<div class="pay_btn">
    <button id='payment'>결제하기</button>
</div>
<script>
    var PAY_FUNC = {};
    (function(pay_func){
        var props = {
            areacode : '',
            postcode : '',
        };

        $.extend(props,{
            getAddress : function(){
                new daum.Postcode({
                    oncomplete:function(data){
                        console.log(data)
                        var roadAddr = data.roadAddress;
                        var extraAddr = '';
                        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                            extraAddr += data.bname;
                        }

                        if(data.bname !== '' && data.apartment === 'Y'){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }

                        if(extraAddr !== ''){
                            extraAddr = ' (' + extraAddr + ')';
                        }
                        document.getElementById('mainAddr').value = roadAddr
                        props.areacode = data.sigunguCode;
                        props.postcode = data.zonecode;
                    }
                }).open()
            },
            getPayment:function(){
                var IMP = window.IMP;
                var buyerName = $('#buyerName').val()
                var buyerAddr = $('#mainAddr').val() + ' ' + $('#subAddr').val();
                var buyerTel = $('#telNumber').val();
                var buyerPost = props.postcode;
                console.log(IMP)

                IMP.request_pay({
                    pg : 'html5_inicis',
                    pay_method : 'card',
                    merchant_uid : 'merchant_' + new Date().getTime(),
                    name : '주문명:결제테스트',
                    amount : 14000,
                    buyer_email : 'iamport@siot.do',
                    buyer_name : '구매자이름',
                    buyer_tel : '010-1234-5678',
                    buyer_addr : '서울특별시 강남구 삼성동',
                    buyer_postcode : '123-456'
                }), function(rsp){
                    if(rsp.success){
                        console.log(rsp)
                    }else{
                        console.log(rsp.message)
                    }
                }
            },
            event : function(){
                $('#searchAdd').click(function(){
                    props.getAddress();
                })
                $('#payment').click(function(){
                    props.getPayment();
                })
            },
        });

        $.extend(pay_func,{
            init: function(){
                props.event()
            }
        });

        return pay_func;
    }(PAY_FUNC));

    $(document).ready(function(){
        PAY_FUNC.init();
        IMP.init('import');
    })
</script>
{% endblock %}