{% extends 'base.html' %}
{% load static %}
{% block contents %}
<div class="content">
    <div class="title_cont">
        <h2>wrap service</h2>
        <hr class="underline">
    </div>
    <!-- cont -->
    <div class="cont">
        <div class="imgwrap">
            <img src="http://placehold.it/700x500" alt="cleanimage">
        </div>
        <div class="wrap_payment">
            <h3 class="opt_title">shoes wrap</h3>
            <div class="option_tab">
                <div class="amount opt_box2">
                    <h4 class="h4margin">수량</h4>
                    <ul class="add_remove">
                        <li class="remove">
                            <button class="remove_btn" id="remove">-</button>
                        </li>
                        <li class="num_wrap">
                            <div class="num" id="number">
                                0
                            </div>
                        </li>
                        <li class="add">
                            <button class="add_btn" id="add">+</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="servw_total">
                <span class="wrap_price">0</span>원
            </div>
            <div class="btn_wrap">
                <div >
                    <button class="scart_btn">
                        장바구니
                    </button>
                </div>
                <div >
                    <button class="spay_btn">
                        바로결제
                    </button>
                </div>
            </div>
        </div>
        <hr class="cutline">
        <div class="info_tab">
            <h3>service info</h3>
            
            <div class="img_article">
                <div class="info_img">
                    <img src="http://placehold.it/700x500" alt="cleanimage">
                </div>
                <div class="explan_wrap">
                    <h4 class="explan_title">1. lorem ipsum</h4>
                    <p class="explan">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sint voluptatem voluptatum optio 
                    </p>
                </div>
            </div>

            <div class="img_article">
                <div class="info_img">
                    <img src="http://placehold.it/700x500" alt="cleanimage">
                </div>
                <div class="explan_wrap">
                    <h4 class="explan_title">2. lorem ipsum</h4>
                    <p class="explan">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sint voluptatem voluptatum optio 
                    </p>
                </div>
            </div>

            <div class="img_article">
                <div class="info_img">
                    <img src="http://placehold.it/700x500" alt="cleanimage">
                </div>
                <div class="explan_wrap">
                    <h4 class="explan_title">3. lorem ipsum</h4>
                    <p class="explan">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sint voluptatem voluptatum optio 
                    </p>
                </div>
            </div>

            <div class="img_article">
                <div class="info_img">
                    <img src="http://placehold.it/700x500" alt="cleanimage">
                </div>
                <div class="explan_wrap">
                    <h4 class="explan_title">4. lorem ipsum</h4>
                    <p class="explan">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sint voluptatem voluptatum optio 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}